<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm_to_hand_calib">
  <xacro:property name="hand_xyz_offset" value="0 0 0.0705"/>
  <xacro:property name="hand_rpy_offset" value="0 0 5.0614"/> 
  <!--<xacro:property name="hand_rpy_offset" value="0 0 1.919807"/> -->
  <xacro:property name="palm_xyz_offset" value="0 0 0.149"/>
  <!--<xacro:property name="palm_rpy_offset" value="0 0 1.9224"/>-->
  <xacro:property name="palm_rpy_offset" value="0 0 5.0614"/> 
</robot>
